.App {
  
  
   text-align: center; 
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: rgba(49, 30, 8, 0.897);
  border-radius: 15px 15px 15px 15px;
  color: bisque;
  width: 400px;
  position: absolute;
  top: 20px;
  left: 28%; 
  justify-content: center;
  align-items: center;
 
}
body{
  background-color: rgb(209, 226, 114);
  
}
.less{
  font-weight:900;
  height: 30px;
  width: 30px;
  background-color: darkgreen;
  margin: 10px;
}
.gretar{
  font-weight: 900;
  height: 30px;
  width: 30px;
  background-color: darkgreen;
  margin: 10px;
}
.number{
  background-color: black;
  color: white;
  height: 30px;
  width: 60px;
  margin: 10px;
}
.coun{
  height: 200px;
  width: 200px;
  background-color: #2a2c31;
  margin: 10px;
  text-align: center;
  /* display: grid; */
    position: absolute;
    top: 20%;
    left: 35%;
    justify-content: center;
    align-items: center;
    
    border-radius: 25px;

}
.clear{
  background-color: black;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 15px 15px ;
}
